.login {
  margin-top: 150px;

  &__btn {
    background-color: #F1ECE6;
    border: none;
    outline: none;
    opacity: 1;
    transition: none;
  }
}

form {
  background-color: #F1ECE6;
  padding: 25px;
}

label {
  font-size: 18px;
}

input {
  padding: 13px !important;
}

.form-control {
  border-radius: 15px;
}

button {
  color: #323232 !important;
  background-color: #D98326 !important;
  border: none !important;
}