.login__btn {
  background-color: #F1ECE6 !important;
  border: none;
  outline: none;
}

.login__input {
  display: block;
  width: 300px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 25px;
  appearance: none;
}

.login__inner {
  margin-bottom: 10px;
}

.modal-title {
  font-size: 2rem;
}

.modal-header {
  justify-content: center;
  border: none;
  background-color: #F1ECE6;
}

